.index-header {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.game-item {
    margin-top: 4px;
}
/*设置文字最大显示长度*/
.max-text {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.sort-index {
    width: 80%
}

.sort-header {
    margin-top: 30px;
    height: 500px;
}

.card-header span {
    font-size: 15px;

}

.card-header {
    margin-top: 15px;
}

.index-lun {
    width: 98%;
    margin-top: 30px;
}

.index-content-item {
    margin-top: 30px;
    margin-left: 30px;
}

.box-card3{
    margin-right: 7.5%;
    width: 81%;
}
.box-card4{
    width: 98%;
    margin-right: 30px;
}
.box-card5{
    width: 98%;
    margin-right: 30px;
    margin-top: 30px;
}


/*********************element css********************/


.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.text {
    font-size: 15px;
}

.item1 {
    margin-bottom: 15px;
}

.item2 {
    margin-bottom: 10px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.box-card {
    width: 300px;
    margin-top: 30px;
    margin-right: 30px;
}

.box-card2 {
    width: 300px;
    margin-top: 24px;
    margin-right: 30px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
