.header-img{
    height: 50px;
    weight: 100px;
    /* margin-left: 10px; */

}
.header-top{
    margin-top: 10px;

}
.header-text{
    font-size: 18px;

}
.header-text a{
    text-decoration:none;
    color: #ffffff;

}
.header-text span{
    margin-left: 15px;
}
.header-search{
    /*搜索框*/
    background-color: #dcdee4;
}
.header-right{
    margin-left: 30px;
}
